/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	background-color: #fff;
	color: #000;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.6;
	padding: 10px;
}

h1 {
	font-size: 30px;
	font-family: 'Londrina Solid', cursive;
	font-weight: 300;
}

h2 {
	font-size: 24px;
	font-weight: 300;
}

h3 {
	font-size: 18px;
	font-weight: 300;
}
